In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [30]:
data = pd.read_csv('train.csv')
data

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,6128,s6129,TV Show,The Big Family Cooking Showdown,NaN,"Zoe Ball, Nadiya Hussain, Giorgio Locatelli, R...",United Kingdom,"February 22, 2019",2018,2,"In this unscripted series, families passionate...",British TV
1,7018,s7019,TV Show,The World's Most Extraordinary Homes,NaN,"Piers Taylor, Caroline Quentin",United Kingdom,"January 18, 2019",2019,3,Award-winning architect Piers Taylor and actre...,British TV
2,4657,s4658,TV Show,One-Punch Man,NaN,"Makoto Furukawa, Kaito Ishikawa, Yuki Kaji, Ao...",Japan,"March 20, 2017",2015,1,The most powerful superhero in the world can k...,Anime Series
3,6167,s6168,Movie,The Boy Who Harnessed the Wind,Chiwetel Ejiofor,"Maxwell Simba, Chiwetel Ejiofor, Aïssa Maïga, ...",United Kingdom,"March 1, 2019",2019,114,"Inspired by a science book, 13-year-old Willia...",Children
4,3562,s3563,Movie,"LeapFrog: Sing-along, Read-along",Ron Myrick,"Julie Maddalena, Cindy Robinson",NaN,"April 15, 2020",2011,32,"Using rhythm and rhymes, a funky band and a co...",Children
...,...,...,...,...,...,...,...,...,...,...,...,...
6218,346,s347,Movie,Ahista Ahista,Shivam Nair,"Abhay Deol, Soha Ali Khan, Shayan Munshi, Kami...",India,"December 31, 2019",2006,122,"Stood up by her groom at the altar, a young wo...",Dramas
6219,5766,s5767,Movie,Spookley and the Christmas Kittens,Bernie Denk,"Vlasta Vrana, Sonja Ball, Craig Francis, Richa...",United States,"November 30, 2020",2019,45,When a green cat and three stray kittens wind ...,Children
6220,6131,s6132,Movie,The Bill Murray Stories: Life Lessons Learned ...,Tommy Avallone,"Tommy Avallone, Bill Murray, Joel Murray, Pete...",United States,"December 31, 2018",2018,72,This documentary highlights spontaneous encoun...,Documentaries
6221,124,s125,Movie,5Gang,Matei Dima,"Andrei Selaru, Dorian Popa, Julia Marcan, Ana ...",Romania,"April 27, 2020",2019,96,"To keep the band together, Selly tries to earn...",Comedies
6222,3061,s3062,TV Show,Is It Wrong to Try to Pick Up Girls in a Dungeon?,NaN,"Yoshitsugu Matsuoka, Inori Minase, Saori Onish...",Japan,"February 1, 2020",2015,1,"Lovable goof Bell Cranel wants an adventure, a...",Anime Series

In [32]:
df1 = data.drop(['date_added','release_year','duration','show_id','Unnamed: 0'], axis=1)

In [33]:
df1

,type,title,director,cast,country,description,genre
0,TV Show,The Big Family Cooking Showdown,NaN,"Zoe Ball, Nadiya Hussain, Giorgio Locatelli, R...",United Kingdom,"In this unscripted series, families passionate...",British TV
1,TV Show,The World's Most Extraordinary Homes,NaN,"Piers Taylor, Caroline Quentin",United Kingdom,Award-winning architect Piers Taylor and actre...,British TV
2,TV Show,One-Punch Man,NaN,"Makoto Furukawa, Kaito Ishikawa, Yuki Kaji, Ao...",Japan,The most powerful superhero in the world can k...,Anime Series
3,Movie,The Boy Who Harnessed the Wind,Chiwetel Ejiofor,"Maxwell Simba, Chiwetel Ejiofor, Aïssa Maïga, ...",United Kingdom,"Inspired by a science book, 13-year-old Willia...",Children
4,Movie,"LeapFrog: Sing-along, Read-along",Ron Myrick,"Julie Maddalena, Cindy Robinson",NaN,"Using rhythm and rhymes, a funky band and a co...",Children
...,...,...,...,...,...,...,...
6218,Movie,Ahista Ahista,Shivam Nair,"Abhay Deol, Soha Ali Khan, Shayan Munshi, Kami...",India,"Stood up by her groom at the altar, a young wo...",Dramas
6219,Movie,Spookley and the Christmas Kittens,Bernie Denk,"Vlasta Vrana, Sonja Ball, Craig Francis, Richa...",United States,When a green cat and three stray kittens wind ...,Children
6220,Movie,The Bill Murray Stories: Life Lessons Learned ...,Tommy Avallone,"Tommy Avallone, Bill Murray, Joel Murray, Pete...",United States,This documentary highlights spontaneous encoun...,Documentaries
6221,Movie,5Gang,Matei Dima,"Andrei Selaru, Dorian Popa, Julia Marcan, Ana ...",Romania,"To keep the band together, Selly tries to earn...",Comedies
6222,TV Show,Is It Wrong to Try to Pick Up Girls in a Dungeon?,NaN,"Yoshitsugu Matsuoka, Inori Minase, Saori Onish...",Japan,"Lovable goof Bell Cranel wants an adventure, a...",Anime Series

In [34]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6223 entries, 0 to 6222
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   type         6223 non-null   object
 1   title        6223 non-null   object
 2   director     4330 non-null   object
 3   cast         5654 non-null   object
 4   country      5800 non-null   object
 5   description  6223 non-null   object
 6   genre        6223 non-null   object
dtypes: object(7)
memory usage: 340.4+ KB

In [35]:
df1.isnull().sum()

type              0
title             0
director       1893
cast            569
country         423
description       0
genre             0
dtype: int64

In [36]:
df1.dropna(inplace=True)

In [37]:
df1.isnull().sum()

type           0
title          0
director       0
cast           0
country        0
description    0
genre          0
dtype: int64

In [38]:
df1.duplicated().sum()

0

In [39]:
df1

,type,title,director,cast,country,description,genre
3,Movie,The Boy Who Harnessed the Wind,Chiwetel Ejiofor,"Maxwell Simba, Chiwetel Ejiofor, Aïssa Maïga, ...",United Kingdom,"Inspired by a science book, 13-year-old Willia...",Children
5,Movie,Mutiny of the Worker Bees,Carlos Morett,"Gustavo Egelhaaf, Alejandro Suárez, Bárbara de...",Mexico,When Omar's grandfather forces him to get a jo...,Comedies
6,Movie,John Carter,Andrew Stanton,"Taylor Kitsch, Lynn Collins, Samantha Morton, ...",United States,"One minute, Civil War veteran John Carter is e...",Action
7,Movie,Kung Fu Yoga,Stanley Tong,"Jackie Chan, Disha Patani, Amyra Dastur, Sonu ...",China,Two mismatched archaeologists battle a team of...,Action
9,Movie,Lady Bird,Greta Gerwig,"Saoirse Ronan, Laurie Metcalf, Tracy Letts, Lu...",United States,An intrepid high schooler in Sacramento underg...,Comedies
...,...,...,...,...,...,...,...
6217,Movie,The Titan,Lennart Ruff,"Sam Worthington, Taylor Schilling, Agyness Dey...",United Kingdom,"On a bleak future Earth, a soldier endures a r...",Dramas
6218,Movie,Ahista Ahista,Shivam Nair,"Abhay Deol, Soha Ali Khan, Shayan Munshi, Kami...",India,"Stood up by her groom at the altar, a young wo...",Dramas
6219,Movie,Spookley and the Christmas Kittens,Bernie Denk,"Vlasta Vrana, Sonja Ball, Craig Francis, Richa...",United States,When a green cat and three stray kittens wind ...,Children
6220,Movie,The Bill Murray Stories: Life Lessons Learned ...,Tommy Avallone,"Tommy Avallone, Bill Murray, Joel Murray, Pete...",United States,This documentary highlights spontaneous encoun...,Documentaries
6221,Movie,5Gang,Matei Dima,"Andrei Selaru, Dorian Popa, Julia Marcan, Ana ...",Romania,"To keep the band together, Selly tries to earn...",Comedies

In [ ]:
df1['tags'] = df1[''] + ' ' + df1['keywords'] + df1['genres'] + df1['cast'] + df1['crew']